#thanks {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0 auto;
    width: 600px;
    border: 3px solid blue;
    padding: 0 2em 1em;
}

#reservation_form {
    margin: 0 auto;
    width: 55%;
    border: 3px solid blue;
    padding: 0 2em 1em;
}

body > h1 {
    color: blue;
}

h2 {
    font-size: medium;
}

#reservation_form > div {
    margin-bottom: 0.5em;
}

fieldset {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: .5em;
}

legend {
    color: blue;
    font-weight: bold;
    font-size: 85%;
    margin-bottom: .5em;
}

label {
    display: inline-block;
    width: 20%;
}

input, select {
    margin-left: 1em;
    margin-right: 0.5em;
}

input {
    width: 14em;	
}

input.left {
	width: 1em;
	padding-left: 0;
}

p {
	margin-top: 0;
	margin-bottom: .5em;
}

#group, #knowledge {
	width: 35px;
}

#early {
	width: 1em;
	margin-left: 0;
}

#submit {
	margin-left: 0;
	width: 10em;
}

span {
	color: red;
    display: none;
}
